# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Typedoc files
docs

# Build output
dist

# Node Modules
node_modules

# Application Files
src/generated/*.ts
!src/generated/index.ts

# Misc
.DS_Store